<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xsi:schemaLocation="
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-4.0.xsd
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
 
    <http pattern="/assets/**" security="none"/>
    <http use-expressions="true" auto-config="true">
        <intercept-url pattern="/j_spring_security_check" access="permitAll"/>
        <intercept-url pattern="/welcome/login*" access="isAnonymous()" />
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
 
        <form-login login-processing-url="/j_spring_security_check" 
                    login-page="/welcome/login.io" 
                    default-target-url="/admin/dashboard/init.io"
                    authentication-failure-url="/welcome/login.io?error=login failed" 
                    username-parameter="username"
                    password-parameter="password" 
        />
        
 
        <logout logout-success-url="/welcome/login.io" logout-url="/j_spring_security_logout" delete-cookies="JSESSIONID" />
        <csrf/>
    </http>
    
<!--    <authentication-manager >
        <authentication-provider user-service-ref="customUserDetailsService"/>
    </authentication-manager>
    
    <beans:bean id="customUserDetailsService" class="com.abp.security.services.CustomUserDetailsService" />-->
     


    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="user1" password="admin" authorities="ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>